<li class="nav-item active">
    <a class="nav-link" href="#">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#masterdata" aria-expanded="true"
        aria-controls="masterdata">
        <i class="fas fa-fw fa-cog"></i>
        <span>Master Data</span>
    </a>
    <div id="masterdata" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">List Master Data:</h6>
            <a class="collapse-item" href="#">Chart of Account</a>
            <a class="collapse-item" href="#">Rekap Kas</a>
            <a class="collapse-item" href="#">Rekap Jurnal Umum</a>
            <a class="collapse-item" href="#">Neraca Lajur</a>
            <h6 class="collapse-header">List Management User:</h6>
            <a class="collapse-item" href="#">User</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#laporan" aria-expanded="true"
        aria-controls="laporan">
        <i class="fas fa-fw fa-folder"></i>
        <span>Laporan</span>
    </a>
    <div id="laporan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">List Laporan:</h6>
            <a class="collapse-item" href="#">Laporan CashFLow</a>
            <a class="collapse-item" href="#">Laporan Laba Rugi</a>
            <a class="collapse-item" href="#">Laporan Perubahan Modal</a>
            <a class="collapse-item" href="#">Neraca</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#table" aria-expanded="true"
        aria-controls="table">
        <i class="fas fa-fw fa-folder"></i>
        <span>Table</span>
    </a>
    <div id="table" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">List Table:</h6>
            <a class="collapse-item" href="#">Tabel Kas Emil</a>
        </div>
    </div>
</li>